@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: "Comic Sans MS", "Comic Neue", cursive !important;
}

p,
span,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
td,
textarea,
input,
label,
a,
div,
code,
pre {
    color: transparent !important;
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red) !important;
    background-clip: text !important;
    animation: rainbow 8s ease infinite !important;
    background-size: 800% 800%;
}



body,
body:hover,
body:not(:hover) {

    background-image: repeating-linear-gradient(135deg, violet, indigo, blue, green, yellow, orange, red) !important;
    animation: rainbow 30s ease infinite !important;
    background-size: 1600% 1600%;
}
/*     } */
img,
svg,
video,
media {
    animation: imgs 5s linear infinite !important;
}

div,
nav,
pre {
    background: transparent !important;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 25%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes imgs {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
